* {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  z-index: 100;
}

@font-face {
  font-family: Raleway;
  src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

/*-------------------- HEADER --------------------*/

/*Header start*/
header {
  width: 100%;
  background-color: #101010;
  height: 4.5rem;
}

header img {
  width: 3.8rem;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
  float: right;
}

header nav {
  display: none;
}

/*Burger menu start*/
.menu {
  height: 100%;
  position: fixed;
  width: 0;
  right: 0;
  z-index: 110;
  background-color: #101010;
  overflow-x: hidden;
  transition: 0.3s;
}

.menu-content {
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
}

.menu-content a {
  padding: 1rem;
}

.menu-content a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 1.5em;
  color: #4ca788;
  transition: 0.3s;
  font-weight: bold;
}

.menu .closebtn {
  display: block;
}

.menu a img {
  width: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
/*Burger menu end*/
/*Header end*/

/*Grid start*/
.grid-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas:
    "lp-main lp-main lp-main lp-main lp-main lp-main"
    "lp-section lp-section lp-section lp-section lp-section lp-section"
    "footer footer footer footer footer footer";
}
/*Grid end*/

/*Main start*/
.landing-page {
  grid-area: lp-main;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas:
    ". lp-main-logo lp-main-logo lp-main-logo lp-main-logo ."
    ". lp-main-txt lp-main-txt lp-main-txt lp-main-txt .";
  flex-direction: column;
  background-color: #ffffff;
  padding-bottom: 48vh;
}

.landing-page img {
  grid-area: lp-main-logo;
  padding: 3rem 0 3rem 0;
  width: 100%;
}

.landing-page h1 {
  grid-area: lp-main-txt;
  padding: 0.6rem 0 0.6rem 0;
  text-align: center;
  font-weight: normal;
  border-style: solid none solid none;
  border-width: 0.35rem;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #4ca788;
}
/*Main end*/

/*Section start*/
.landing-page-project-ref {
  grid-area: lp-section;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas:
    ". colab colab colab colab ."
    ". pers pers pers pers ."
    ". abt abt abt abt .";
  background-color: #101010;
  width: 100%;
  padding-bottom: 8rem;
  padding-top: 2.5rem;
}

.colab-projects {
  grid-area: colab;
  width: 100%;
}

.personal-gal {
  grid-area: pers;
}

.about-me {
  grid-area: abt;
}

.landing-page-project-ref div img {
  border-style: solid;
  border-width: 0.3rem;
  border-color: #ffffff;
  width: 100%;
}

.landing-page-project-ref div h1 {
  padding: 2.5rem 0 2rem 0;
  color: #4ca788;
}

/*Within section class divs*/
.colab-projects h1 {
  font-size: 1.6em;
}

.colab-projects img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.personal-gal h1 {
  font-size: 1.6em;
}

.personal-gal img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.about-me h1 {
  font-size: 1.6em;
}

.about-me img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  object-position: 0 18%;
}
/*Section end*/

/*------------------------ CONTACT.HTML ------------------------*/

.contact-form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas:
    ". cnt-head cnt-head cnt-head cnt-head ."
    ". form form form form ."
    ". . form-btn form-btn . ."
    "footer footer footer footer footer footer";
  padding: 7rem 0 10rem 0;
}

.contact-form h1 {
  grid-area: cnt-head;
  padding: 1rem 0 0 0;
  color: #4ca788;
}

.contact-form div {
  grid-area: form;
  padding: 0.7rem 0 0.7rem 0;
}

.contact-form div input {
  border-style: solid;
  border-width: 0.1rem;
  border-color: #101010;
  border-radius: 0.7rem;
  width: 100%;
  padding: 0.7rem 0 0.7rem 0;
}

.contact-form div textarea {
  width: 100%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #101010;
  border-radius: 0.7rem;
  height: 9rem;
  padding: 0.7rem 0 0.7rem 0;
}

.contact-form button {
  grid-area: form-btn;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #4ca788;
  border-radius: 0.7rem;
  background-color: #4ca788;
  color: white;
  padding: 0.8rem;
  width: 100%;
  align-items: center;
}

/*------------------------ CV.HTML ------------------------*/

.cv-page {
  padding: 5rem 0 5rem 0;
}

.cv-page div {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas:
    ". . cv-pic cv-pic . ."
    ". its-me its-me its-me its-me ."
    ". about-me-head about-me-head about-me-head about-me-head ."
    ". cv-about-txt cv-about-txt cv-about-txt cv-about-txt .";
}

.cv-page div img {
  grid-area: cv-pic;
  width: 100%;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #4ca788;
  border-radius: 50%;
}

.cv-page div h1 {
  grid-area: its-me;
  font-size: 1.6em;
  text-align: center;
  border-style: none none solid none;
  border-width: 0.3rem;
  border-color: #4ca788;
  padding: 1rem 0 0.5rem 0;
}

.cv-page div h2 {
  grid-area: about-me-head;
  padding: 5.5rem 0 0 0;
  font-size: 1.6em;
  color: #4ca788;
}

.cv-page div p {
  grid-area: cv-about-txt;
}

/*------------------------ ABOUT ------------------------*/

.about {
  display: grid;
  grid-gap: 1rem;
  width: 100vw;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas:
    "abt-img abt-img abt-img abt-img abt-img abt-img"
    ". who who who who ."
    "drive drive drive drive drive drive"
    ". dream dream dream dream ."
    ". . read-cv read-cv . .";
}

.about img {
  grid-area: abt-img;
  width: 100%;
  object-fit: cover;
  height: 13rem;
  object-position: 0 20%;
}

.who-am-i {
  grid-area: who;
  width: 100%;
  padding: 0 0 2rem 0;
}

.about div h1 {
  font-size: 1.6em;
  color: #4ca788;
  padding: 0.5rem 0 1rem 0;
}

.about div p {
  width: 100%;
  font-size: 1em;
}

.my-drive {
  grid-area: drive;
  width: 4fr;
  background-color: #101010;
  padding: 2rem 3rem 5rem 3rem;
  color: white;
}

.my-dream {
  grid-area: dream;
  width: 100%;
  padding: 0.5rem 0 4rem 0;
}

.read-cv-btn {
  grid-area: read-cv;
  padding: 4rem 0 4rem 0;
}

.read-cv-btn ul {
  list-style: none;
}

.read-cv-btn ul li {
  border-style: solid;
  border-radius: 0.7rem;
  padding: 0.7rem 0 0.7rem 0;
  border-color: #4ca788;
  background-color: #4ca788;
  text-align: center;
}

.read-cv-btn ul li a {
  text-decoration: none;
  color: white;
}

/*------------------------ FOOTER ------------------------*/

/*Footer start*/

footer {
  grid-area: footer;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas:
    ". contact contact contact contact ."
    ". instagram instagram youtube youtube ."
    ". facebook facebook linkedin linkedin .";
  width: 100%;
  background-color: #4ca788;
  padding: 2.5rem 0 5rem 0;
  margin-top: -2rem;
}

footer div a img {
  width: 30%;
  margin-right: 0.5rem;
}

footer div a {
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.2em;
}

/*Contact information specific*/
.contact-info {
  grid-area: contact;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "contact contact contact contact"
    "tel-email reference reference reference";
  padding-bottom: 3rem;
}

.contact-info h1 {
  grid-area: contact;
  color: #ffffff;
  font-size: 1.6em;
  line-height: 3rem;
}

.tel-email {
  grid-area: tel-email;
}

.reference {
  grid-area: reference;
}

.tel-email h1,
.tel-email h2 {
  color: #ffffff;
  line-height: 2rem;
  font-size: 1.2em;
  font-weight: normal;
}

.reference h1,
.reference h2 {
  color: #ffffff;
  line-height: 1.9rem;
  font-size: 1.2em;
  font-weight: normal;
}

.reference h1 {
  padding-top: 0.1rem;
  font-family: sans-serif;
}

.reference h2 {
  padding-top: 0.1rem;
}

/*Social media specific*/
.instagram {
  grid-area: instagram;
}

.youtube {
  grid-area: youtube;
}

.facebook {
  grid-area: facebook;
}

.linkedin {
  grid-area: linkedin;
}

.instagram a,
.youtube a,
.facebook a,
.linkedin a {
  display: flex;
  align-items: center;
}
