* {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  color: #101010;
  color: #4ca788;
  z-index: 100;
}

@font-face {
  font-family: Raleway;
  src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

/*Header start*/
header {
  width: 100%;
  background-color: #101010;
  height: 4.5rem;
}

header img {
  width: 3.8rem;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
  float: right;
}

header nav {
  display: none;
}

/*Burger menu start*/
.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 110;
  background-color: #101010;
  overflow-x: hidden;
  transition: 0.3s;
}

.menu-content {
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
}

.menu-content a {
  padding: 1rem;
}

.menu-content a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 1.5em;
  color: #4ca788;
  transition: 0.3s;
  font-weight: bold;
}

.menu .closebtn {
  display: block;
}

.menu a img {
  width: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
/*Burger menu end*/
/*Header end*/

/*Grid start*/
.grid-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas:
    "lp-main lp-main lp-main lp-main lp-main lp-main"
    ". lp-main-txt lp-main-txt lp-main-txt lp-main-txt ."
    "lp-section lp-section lp-section lp-section lp-section lp-section"
    "footer footer footer footer footer footer";
}
/*Grid end*/

/*Main start*/
.landing-page {
  grid-area: lp-main;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 2rem 0 2rem;
  height: 90vh;
}

.landing-page img {
  margin: 2rem auto;
  width: 100%;
}

.landing-page h1 {
  grid-area: lp-main-txt;
  margin: 1rem 1rem 0 1rem;
  padding: 0.7rem 0 0.7rem 0;
  text-align: center;
  font-weight: normal;
  border-style: solid none solid none;
  border-width: 0.35rem;
  font-size: 1.5em;
  text-transform: uppercase;
}
/*Main end*/

/*Section start*/
.landing-page-project-ref {
  grid-area: lp-section;
  display: flex;
  flex-direction: column;
  background-color: #101010;
  width: 100%;
  padding-bottom: 8rem;
}

.landing-page-project-ref div {
  grid-area: lp-section;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 0 2rem;
}

.landing-page-project-ref div img {
  border-style: solid;
  border-width: 0.3rem;
  border-color: #ffffff;
  width: 100%;
}

.landing-page-project-ref div h1 {
  padding: 0 0 2rem 0;
}

/*Within section class divs*/
.colab-projects h1 {
  font-size: 1.6em;
}

.colab-projects img {
  width: 100%;
  height: 10rem;
  object-fit: cover 1;
}

.personal-gal h1 {
  font-size: 1.6em;
}

.personal-gal img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.about-me h1 {
  font-size: 1.6em;
}

.about-me img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  object-position: 0 18%;
}
/*Section end*/

/*Footer start*/

footer {
  grid-area: footer;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas:
    ". contact contact contact contact ."
    ". instagram instagram youtube youtube ."
    ". facebook facebook linkedin linkedin .";
  width: 100%;
  background-color: #4ca788;
  padding: 2.5rem 0 5rem 0;
}

footer div a img {
  width: 30%;
  margin-right: 0.5rem;
}

footer div a {
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.2em;
}

/*Contact information specific*/

.contact-info {
  grid-area: contact;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "contact contact contact contact"
    "tel-email reference reference reference";
  padding-bottom: 3rem;
}

.contact-info h1 {
  grid-area: contact;
  color: #ffffff;
  font-size: 1.6em;
  line-height: 3rem;
}

.tel-email {
  grid-area: tel-email;
}

.reference {
  grid-area: reference;
}

.contact-info p {
  color: #ffffff;
  line-height: 2rem;
  font-size: 1.2em;
}

/*Social media specific*/
.instagram {
  grid-area: instagram;
}

.youtube {
  grid-area: youtube;
}

.facebook {
  grid-area: facebook;
}

.linkedin {
  grid-area: linkedin;
}

.instagram a,
.youtube a,
.facebook a,
.linkedin a {
  display: flex;
  align-items: center;
}
